.container {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: max-content;
  grid-gap: 20px 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media (max-width: 975px) {
  .container {
    grid-template-columns: max-content;
    grid-template-rows: repeat(3, max-content);
    justify-items: center;
  }
}