label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}
input {
  padding: 16px 26px;
  margin-bottom: 30px;
  border-radius: 20px;
}
textarea {
  padding: 30px 27px;
  border-radius: 14px;
}
input, textarea {
  width: 100%;
}

@media (max-height: 600px) {
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 7px;
  }

  input {
    padding: 10px 22px;
    margin-bottom: 10px;
  }
}